.paginator{
    margin: 10px;
}

.pageNumber{
    padding: 2px;
    color: gray;
    border: 1px solid black;
    cursor: pointer;
    transition-property: color, border;
    transition-duration: 0.5s;
} 

.pageNumber:hover{
    color: black;
    border: 1px solid gray;
}

.pageNumber.selectedPage{
    font-weight: bold;
    border: 1px solid gray;
}