.descriptionBlock{
    padding:10px;
}

.job{
    width: 20px;
    height: 20px;
    background-color: green;
}

.unJob{
    width: 20px;
    height: 20px;
    background-color: red;
}

.mainPhoto{
    max-width: 200px;
}

.contact{
    padding-left: 10px;
}